{% extends 'header.html' %}{% block title %}Search-a-Brew{% endblock %}{% block
content %}
<div class="container d-flex justify-content-center">
  <h1 class="brew-title">Search A Brew</h1>
</div>
<div class="container d-flex justify-content-center">
  <form method="POST">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nameSearch">Brewery Name</label>
          <input
            type="text"
            class="form-control"
            id="brewNameInput"
            name="brewName"
            aria-describedby="brewName"
            placeholder="Search Brewery Name"
          />
        </div>
      </div>
      <div class="col">
        <label for="citySearch">City</label>
        <input
          type="text"
          class="form-control"
          id="cityNameInput"
          name="cityName"
          placeholder="Search/Filter By City"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="stateSearch">State</label>
          <input
            type="text"
            class="form-control"
            id="stateNameInput"
            name="stateName"
            placeholder="Search/Filter By State"
          />
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <button
      style="margin-top: 40px"
      type="submit"
      class="btn btn-primary"
      >
      <i class="fas fa-beer" style="position: relative; font-size: 1.5rem;"></i>
      <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Search</span>
      </button>
    </div>
  </form>
</div>
<div class="container d-flex justify-content-center">
  Search a brewery why don't you?
</div>
{% endblock %}
