<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container" id="main">
      <h1>Verification</h1>

      <div class="mb-3">
        <label for="verification1" class="form-label"
          >How did you hear about us?</label
        >
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose Here</option>
          <option value="Enron">Friend who worked at Enron.</option>
          <option value="Mesage">Message in a bottle</option>
          <option value="Sears">Sears Catalog</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="verification2" class="form-label">Are Aliens Real?</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose Here</option>
          <option value="Yes">Yes</option>
          <option value="Also Yes">Yes</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="verification3" class="form-label"
          >Would you like fries with that?</label
        >
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose Here</option>
          <option value="Yes">Yes?</option>
          <option value="combo">Can I make it a combo?</option>
          <option value="patrick">No, this is Patrick!</option>
        </select>
      </div>
      <a href="/returnchecker" class="btn btn-primary">Submit</a>
    </div>
  </body>
  <style>
    body {
      background-color: rgb(0, 72, 100, 1);
      color: white;
    }
  </style>
</html>
